@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// color vars
$black: #000;
$gray: #606060;


// bid-pro styles

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* NAV */
.navbar {
    background-color: #000 !important;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0 !important;
    margin: 0;

    .navbar-brand {
        font-size: 20px;
        line-height: 20px;
        position: absolute;
        left: 20px;
        text-transform: uppercase;
    }

    .navmenu {
        position: absolute;
        right: 20px;

        .navOps {
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1em;
            letter-spacing: 2px; 
            margin: 0 5px;
        } 
    }   
}
.subNav {
    display: flex;
    justify-content: space-around;
    background-color: $gray;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    top: 0;

    .subNavItem {
        font-family: 'Montserrat', sans-serif;
        color: white;
    }

}

/* LOGIN */
.logo {
    display: block;
    width: 60%;
    margin: 0 auto 50px auto;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

button {
    background: linear-gradient(180deg, rgba(219,183,124,1) 0%, rgba(168,140,95,1) 100%) !important;
    color: white; 
    border: none !important;
    margin: 0 auto;
    display: block !important;
    font-size: 1.15em !important;
    padding: .5em 1.15em !important;
    font-family: 'Montserrat', sans-serif;
}

/* WRAPPER */
.wrapper {
    display: block;
    position: relative;
    width: 80%;
    margin: 80px auto;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2.5em;
    line-height: 1em;
    text-align: center;
    margin: 20px auto;
}

h2, h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    margin: 30px auto 15px auto;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
}

/* FORMS */
form {
    width: 90%;
    display: block;
    margin: 0 auto;

    label {
        display: block;
        font-family: 'Montserrat', sans-serif;
        line-height: 1em;
        font-size: 1em;
        margin: 10px 0;
    }    
}

/* ADMIN PAGE */
.adminTable {
    background-color: #ccc;
    text-align: center;
    padding: 1em;
}

.dbUsers {
    border-bottom: 1px solid black;
    padding: 0px 0px 20px 0;
}